body{
    margin: 0px;
    padding: 0px;
}
.converter-body{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 2px 1px #cacaca;
}
.converter-title{
    text-align: center;
    margin: 20px 0px;

}
input{
    height: 30px;
    text-align: center;
    margin-bottom: 5px;
}
#input,#input1,#input2,#input3,#input4,#input5,#input6,#input7,#input8,#input9,#input10,#input11{
    margin-left: 16px;
}
#InputType,#ResultType,
#InputType1,#ResultType1,
#InputType2,#ResultType2,
#InputType3,#ResultType3,
#InputType4,#ResultType4,
#InputType5,#ResultType5,
#InputType6,#ResultType6,
#InputType7,#ResultType7,
#InputType8,#ResultType8,
#InputType9,#ResultType9,
#InputType10,#ResultType10,
#InputType11,#ResultType11{
    width: 175.66px;
    margin-left: 16px;
    color: red;
    height: 30px;
}

ul{
    float: right;
    padding-right: 150px;
    padding-top: 150px;
}

li{
    display: inline-block;
    list-style: none;
    text-align: center;
    background: yellow;
    width: 150px;
    padding: 12px 15px 20px 15px;
    margin: 2px;
    border: 5px solid red;
    box-sizing: border-box;
    height: 50px;
}

a{
    text-decoration: none;
    color: white;
}

li:hover{
    background-color: red;
}

nav{
    width: 100%;
    height: 100px;
    line-height: 50px;
    padding: 0px 100px;
    background-image: linear-gradient(rgba(0, 162, 255, 0.616),#012733);
    position: absolute;
}

.head{
    
    color: white;
    text-decoration: underline;
    font-size: 120%;
    padding-left: 150px;
}

table{
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 30%;
    width: 40%;
    position: absolute;
}

tr input[type="button"] {
    width: 100%;
    padding: 30px 10px ;
    background-color: rgba(0, 140, 255, 0.644);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

tr input[type="text"] {
    padding: 20px 100px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
    text-align: left;
}

display{
    text-align: left;
}

button{

    position: relative;
    margin-top: 390px;
    margin-left: 300px;
}